<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tabel_server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Tabel_server.Properties.Settings>
            <setting name="dayX" serializeAs="String">
                <value />
            </setting>
            <setting name="dayXOld" serializeAs="String">
                <value />
            </setting>
            <setting name="Castom" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="ColorBiznesTrip" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorVocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorSick" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorAdministrativ" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorHoliDay" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorWorkedShortDay" serializeAs="String">
                <value />
            </setting>
        </Tabel_server.Properties.Settings>
    </userSettings>
</configuration>